.default-button {
  padding: 18px 44px;
  border: 2px solid white;
  position: relative;
  transition: .75s ease-out;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  box-sizing: content-box !important;
  font-size: 16px;
}
.default-button:hover {
  color: #9e55ff;
}

/* BEFORE */
.default-button:before {
   content: "";

   box-sizing: content-box !important;

  position: absolute;
  width: 0;
  height: 0;
  top: -2px;
  left: -2px;
  background-color: transparent;
  border: 2px solid transparent;
}
.default-button:hover:before {
    animation: border-animation .4s cubic-bezier(.1,.04,.45,.89) forwards;
}

@keyframes border-animation {
  0% {

    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  50% {

     width: 100%;
    height: 0;
    border-top: 2px solid #9e55ff;
    border-right: 2px solid #9e55ff;
  }
  100% {

     width: 100%;
    height: 100%;
    border-top: 2px solid #9e55ff;
    border-right: 2px solid #9e55ff;
  }
}

/* AFTER */
.default-button:after {
   box-sizing: content-box !important;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2px;
  right: -2px;
  background-color: transparent;
  border: 2px solid transparent;
}
.default-button:hover:after {
    animation: border-animation1 .4s .4s cubic-bezier(.1,.04,.45,.89) forwards;
}

@keyframes border-animation1 {
  0% {

    width: 0;
    height: 0;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  50% {

     width: 100%;
    height: 0;
    border-bottom: 2px solid #9e55ff;
    border-left: 2px solid #9e55ff;
  }
  100% {

     width: 100%;
    height: 100%;
    border-bottom: 2px solid #9e55ff;
    border-left: 2px solid #9e55ff;
  }
}
